header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

main {
    display: flex;
    flex-direction: column;
}

#supx-intro {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 15px;
}

img {
    max-width: 50%;
    height: auto;
}

#supx-home-body {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
footer {
    padding: 15px;
    text-align: center;
}