/*
I'm not sure why, but if I don't annotate everything other than the product card elements with !important,
the styling doesn't work. I think Tailwind is overriding the styles, but I moved the link above which should
have fixed it. So I just added !important to everything else to make sure it works. I don't like it, but it is what it is.

Update: The font changes work without !important, but the other styles don't. I don't even know at this point man.
*/

@font-face {
    font-family: "Nexa-Heavy";
    src: url("/assets/fonts/Nexa-Heavy.ttf") format("truetype");
}

@font-face {
    font-family: "Nexa-ExtraLight";
    src: url("/assets/fonts/Nexa-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("/assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-LightItalic";
    src: url("/assets/fonts/Roboto-LightItalic.ttf") format("truetype");
}

.supx-category {
    margin: 20px !important;
    margin-bottom: 40px !important;
}

.supx-product-row {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 10px !important;
}

.product-card {
    width: 300px;
    border: 2px solid rgb(221, 189, 4);
    padding: 15px;
    margin: 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.product-card h3 {
    font-weight: bold;
}

h2 {
    font-weight: bold !important;
    margin-bottom: 10px !important;
    font-size: 25px !important;
}


body {
    background-color: black;
}

header a {
    font-family: "Nexa-Heavy", sans-serif;
    color: rgb(221, 189, 4);
}

#supx-subheader a {
    font-family: "Nexa-ExtraLight", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(221, 189, 4);
}

h2, span {
    font-family: "Roboto-Light", Georgia, 'Times New Roman', Times, serif;
    color: white;
}

footer p {
    font-family: "Roboto-Light", Georgia, 'Times New Roman', Times, serif;
    color: gray;
}

.old {
    font-family: "Roboto-LightItalic", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}